*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    margin:20px;
    padding : 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
}
.container{
    width:100vw;
    height:100vh;
    overflow-x: hidden;
    

}

.sneaker{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    
   
     

}
.store{
    margin: auto;
    width:60%;
    min-height:100%;
}

.box{
    
   border-radius: 30px;
    width:30%;
    min-height:400px;
    padding:10px;
    box-shadow: 7px 7px 15px rgba(0,0,0,0.1);
    margin-bottom: 30px;
}


.image{
    width:100%;
    height:300px;
    overflow: hidden;
    border-radius: 20px;

}
.image > img{
    width:100%;
    height: 100%;
    border-radius: 30px;
    object-fit: cover;
    
}
.image>img:hover{
    scale: 1.1 ;
    transition : all 0.4s  ease-in;
}
.details{
    padding:10px;
}

.cart>img{
    width:30px;
    height:30px;
    cursor: pointer;
}

.det{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media  screen and (min-width: 320px) and (max-width: 480px) {
  
   .box {
    border-radius: 30px;
    width: 100%;
    min-height: 400px;
    padding: 10px;
    box-shadow: 7px 7px 15px rgba(0,0,0,0.1);
    margin-bottom: 30px;
}
.store{
    margin: auto;
    width:80%;
    min-height:100%;
}
    
}
@media  screen and (min-width:481px) and (max-width:768px) {
       .box {
        display: flex;
    border-radius: 30px;
    width: 100%;
    min-height: 320px;
    padding: 10px;
    box-shadow: 7px 7px 15px rgba(0,0,0,0.1);
    margin-bottom: 30px;
}
.store{
    margin: auto;
    width:80%;
    min-height:100%;
}

.image{
    padding:10px;
    width:70%;
    height:300px;
    overflow: hidden;
    border-radius: 20px;

}
.det{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    gap:30px;
    text-align: right;
    
}
.details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    padding:10px;
}


    
}

@media  screen and (min-width:769px) and (max-width:1024px) {
    
}

@media  screen and (min-width:1025px) and (max-width:1200px) {
}